/* body pushes page to edges and font stuff */
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/background.png);
}

/* ************************************************************************ */
/* End Contact Card */
/* ************************************************************************ */

/* for h1 in header with my name */
.name {
    /* width: 100%; */
    font-family: 'Nothing You Could Do', cursive;
}

/* contact card */
.contact {
    color: #EDF5E1;
    background-image: url(../images/blue-background.png);
    text-align: center;
    margin-top: 25px;
}

.front {

}

.back {

}

.card-link {
    color: #EDF5E1;
}

.card-link:hover {
    color: #8EE4AF;
}

.email {
    margin: 0 10px 0 10px;
}

/* ************************************************************************ */
/* End Contact Card */
/* ************************************************************************ */


/* ************************************************************************ */
/* Start Portfolio Cube */
/* ************************************************************************ */

/* wrapper */
.portfolio {
    margin: 25px 0 25px 0;
    text-align: center;
}

/* adjust image size */
img {
    height: auto;
    width: 100%;
}

/* banners for pics*/
.tags {
    display: inline-block;
    color: #EDF5E1;
    font-family: 'Nothing You Could Do', cursive;
    background-image: url(../images/blue-background.png);
    width: 100%;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 70px;
}

.tags:hover {
    color: #8EE4AF;
    text-decoration: none;
}

/* banner above cube */
.portfolio-header {
    color: #EDF5E1;
    font-family: 'Nothing You Could Do', cursive;
    background-image: url(../images/blue-background.png);
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
}

/* size of cube */
.swiper-container {
    width: 300px;
    height: 300px;
}

/* each item in cube */
.swiper-slide {
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/* ************************************************************************ */
/* End Portfolio Cube */
/* ************************************************************************ */


/* ************************************************************************ */
/* Start Sticky Note */
/* ************************************************************************ */

/* wrapper */
.notebook {
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* note card mod */
.stickynote {
    padding-left: 15px;
    height: 300px;
    width: 300px;
    background-color: #8EE4AF;
    font-family: 'Permanent Marker', cursive;
    color: #05386B;
    font-size: 125%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

/* banner above cube */
.stickynote-header {
    text-align: center;
    color: #EDF5E1;
    font-family: 'Nothing You Could Do', cursive;
    background-image: url(../images/blue-background.png);
    width: 100%;
    padding: 10px;
    margin: 0 0 10px 0;
}

/* ************************************************************************ */
/* End Sticky Note */
/* ************************************************************************ */


/* ************************************************************************ */
/* Start Bio */
/* ************************************************************************ */

/* header */
.bio-header {
    background-image: url(../images/blue-background.png);
    color: #EDF5E1;
    font-family: 'Nothing You Could Do', cursive;
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
}

/* wraps content */
.bio {
    background-image: url(../images/blue-background.png);
    margin: 25px 0 25px 0;
    padding: 20px 0 20px 0;
    color: #EDF5E1;
    line-height: 30px;
}

/* adjusts profile pic */
.cat {
    height: 25%;
    width: 25%;
    margin-right: 10px;
}

/* ************************************************************************ */
/* End Bio */
/* ************************************************************************ */